#Env config user 
*.uvgui.anonhyme
app2_rtos_solution_uvision_lpc1768/app2_rtos_solution/app2_rtos_solution.uvgui.anonhyme
app2_rtos_solution_uvision_lpc1768/app2_rtos_solution/app2_rtos_solution.uvgui.anonhyme
app2_rtos_solution_uvision_lpc1768/app2_rtos_solution/app2_rtos_solution.uvgui.anonhyme